* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.header {
  top: 0px;
  left: -14px;
  width: 100%;
  height: 70px;
  background: #000000;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 9.5625rem;
}

.menu {
  margin-right: 9.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 23px;
  cursor: pointer;
}

.menu-button {
  width: 29px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
}

.menu-button::before,
.menu-button::after {
  content: "";
  position: absolute;
  height: 4px;
  background: #fff;
  border-radius: 5px;
}

.menu-button::before {
  width: 29px;
  transform: translateY(-14px);
}

.menu-button::after {
  width: 19px;
  transform: translateY(14px);
  margin-left: 10px;
}

nav {
  width: 318px;
  height: 1246px;
  position: fixed;
  right: 0;
  z-index: 1;
  visibility: hidden;
  background: #ffc502;
  color: #000000;

  font: normal normal bold 22px/26px Arial;
  letter-spacing: 0px;

  display: flex;
  flex-direction: column;
}

.close {
  margin: 1rem;
  cursor: pointer;
}
.menu-itens {
  margin: 3rem;
  top: 122px;
  left: 1239px;
  width: 204px;
  height: 282px;

  list-style-type: none;
}

li {
  margin-bottom: 3.375rem;
  cursor: pointer;
}

.top-section {
  background-image: url(./assets/road.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  width: 100%;
  height: 787px;
  /* position: relative; */
  background-color: #000000;
}

.content {
  width: 826px;
  height: 175px;

  margin: 60px 0px 40px 9.5625rem;
  font: normal normal bold 52px/78px Arial;
  letter-spacing: 0px;
  color: #ffffff;
}

.content::after {
  content: "";
  position: absolute;
  width: 149px;
  height: 20px;
  background: #ffc502;
  transform: translateY(40px);
}

.botton-section {
  background: #ffc502;

  width: 100%;
  height: 392px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/* 
.slides {
} */

.slide-one {
  display: flex;
}

.left-content {
  background-color: #ffffff;
  letter-spacing: 0px;
  width: 627px;
  height: 459px;
  margin-left: 150px;
  margin-top: -234px;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.left-content h2 {
  text-align: left;
  font: normal normal bold 28px/32px Arial;
  letter-spacing: 0px;
  color: #000000;
}

.left-content p {
  text-align: left;
  font: normal normal normal 15px/22px Arial;
  letter-spacing: 0px;
  color: #000000;
}

.right-content {
  margin-top: -277px;
}

.picture {
  width: 746px;
  height: 459px;
}

.navigation {
  display: flex;
  margin-top: -5px;
}

.buttons {
  background: #333333;

  width: 74px;
  height: 74px;

  display: flex;
  justify-content: center;
}

.buttons:hover {
  background: #000000;
  cursor: pointer;
}
